[submodule "npm-module-src-alu0101228587"]
	path = npm-module-src-alu0101228587
	url = git@github.com:ULL-ESIT-DMSI-1920/npm-module-src-alu0101228587.git
[submodule "npm-module-test-alu0101228587"]
	path = npm-module-test-alu0101228587
	url = git@github.com:ULL-ESIT-DMSI-1920/npm-module-test-alu0101228587.git
